{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block css %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static '/css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static '/css/main.css' %}">
    {% endblock %}

    <title>Zadatak</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="{% url 'index' %}" class="brand-logo">Customer Service</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% if user.is_superuser %}
          <li><a href="{% url 'adminPage' %}">AdminPage</a></li>
          {% endif %}
          <li><a href="{% url 'customerForm' %}">Contact</a></li>
          
        {% else %}
        <li><a href="{% url 'customerForm' %}">Contact</a></li>
        <li><a href="{% url 'signup' %}">SignUp</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'customerForm' %}">Contact</a></li>
        <li><a href="{% url 'adminPage' %}">AdminPage</a></li>
        <li><a href="{% url 'signup' %}">SignUp</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
  </ul>
            
  <div class="container">
    <br>
    {% block content %}
    {% endblock %}
  </div>

  
  {% block jsscript %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous"></script> 
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock %}
  
</body>

</html>