{% extends 'base.html' %}
{% load static %}

{% block content %}
<ul class="collection with-header">
    <li class="collection-header"><h4>Customer</h4></li>
    <li class="collection-item"><span class="teal-text text-darken-2">name: </span>{{customer}}</li>
    <li class="collection-item"><span class="teal-text text-darken-2">phone number: </span>{{customer.phoneNumber}}</li>
    <li class="collection-item"><span class="teal-text text-darken-2">email: </span>{{customer.email}}</li>
    <li class="collection-item"><span class="teal-text text-darken-2">subject: </span>{{customer.subject}}</li>
    <li class="collection-item"><span class="teal-text text-darken-2">problem description: </span>{{customer.problemDescription}}</li>
    <li class="collection-item"><span class="teal-text text-darken-2">created: </span>{{customer.created}}</li>  
    <li class="collection-item"><span class="teal-text text-darken-2">call back: </span>{{customer.dateTimeCallback}}</li> 
    <li class="collection-item blue lighten-5"><span class="blue-text text-darken-2">Comment section: </span>
      {% if not customer.comments.all %}
        <p>No Comment...</p>
        
       
      {% else %}
        <ul class="collection">
          {% for comment in customer.comments.all %}
            <li class="collection-item blue lighten-5">{{comment}} <span class="blue-text text-darken-2">-------> added by: <b>{{comment.user}}</b> on: {{comment.created}}</span></li>
          {% endfor %}
        </ul>
      {% endif %}
  </li>       
  </ul>
<br>
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add comment</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Add Comment</h4>
    </div>
    <div class="modal-footer">
      <div class="row">
        <form method="POST" class="col s12">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s6">
              
              {{form.user}}
              <option value="" disabled selected>Choose User</option>
              
            </div>
            </div>
            <row>
              <div class="input-field col s12">
                {{form.comment}}
                <label for="lastName">Comment</label>
              </div>
            </row>
            <div class="row">
              <div class="input-field col s12">
              <button type="submit" class="waves-effect waves-light btn white-text" >Submit</button>
              </div>
            </div>
            </form>
          </div>
      
    </div>
  </div>
{% endblock %}

{% block jsscript %}
{{ block.super }}
<script src="{% static 'js/modal.js' %}" ></script>
{% endblock %}